<% include ./partials/header %>
<div class="container">
  <h1>Hello there !</h1>
  <h4><a href="/myprofile/cart">Cart</a></h4>
  <h4><a href="/restaurants">Restaurants</a></h4>
</div>
<% include ./partials/footer %>
