<h1>Sign up Form</h1>

<form action="/registerrestaurant" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<li><a href="/registerrestaurant">Sign Up!</a></li>
<li><a href="/loginrestaurant">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
