<% include ./partials/header %>
    <div class="container">
      <h1>Restaurant</h1>
      <h4><a href="/registerrestaurant">Register your Restaurant</a></h4>
      <h4><a href="/loginrestaurant">Login as Restaurant</a></h4>
    </div>
<% include ./partials/footer %>
