<% include ./partials/header %>
<h1>this is the secret page</h1>

<p>You found me</p>

<img src="https://media.glamour.com/photos/5947dcc3c50f631fb8db0af6/master/w_644,c_limit/GettyImages-687395944.jpg">

<% include ./partials/footer %>
