<% include ../partials/header %>
<div class="container">
  <h1>To be Delivered</h1>
  <ol>
    <% valet.orders.forEach((order) => { %>
      <% if(order.status!="Delivered"){ %>
        <li>
          <strong>ID: </strong> <%= order._id %>
          <br>
          <strong>Name : </strong> <%=order.placedby.name %>
          <br>
          <strong>Address : </strong> <%=order.address%>
          <form class="" action="/valet/dashboard/delivered" method="post">
            <input type="hidden" name="orderid" value="<%= order._id%>">
            <input type="submit" name="delivered" value="Delivered" class="btn btn-sm btn-success">
          </form>
        </li>
      <% } %>
    <% });%>
  </ol>
</div>
<% include ../partials/footer %>
