<% include ../partials/header %>
<div class="container content">
  <h1>Restaurants Near You</h1>
  <ul>
      <% allRestaurants.forEach((restaurant)=> { %>
      <li><a href="/restaurants/<%=restaurant._id%>" > <%=restaurant.name%> </a></li>
      <% }); %>
  </ul>
</div>    
<% include ../partials/footer %>
