<% include ../partials/header %>
<div class="container">
  <h1><%=currentUser.name%></h1>
  <h5><a href="/editprofile">Edit Your Profile</a></h5>
  <h5><a href="/myrestaurant/addvalet">Add Valet</a></h5>
  <h5><a href="/orders">Orders</a></h5>
</div>
<% include ../partials/footer %>
