<% include ../partials/header %>
  <div class="container content">
    <h1>Menu</h1>
    <ul>
      <% restaurant.menu.forEach((dish) => { %>
        <li>
          <%= dish.name %> - <strong> <%= dish.price%> INR.</strong>
          <form class="" action="/restaurants/:id/menu/addtocart" method="post">
            <input type="hidden" name="dish" value="<%=dish._id%>">
            <button type="submit" class="btn btn-sm btn-success" >Add to cart</button>
          </form>
        </li>
      <% }); %>
    </ul>
  </div>
<% include ../partials/footer %>
